stock market signal/Backend/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d50e2efd-550a-4107-82f0-c4f8d06397e8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        64
      ],
      "id": "74b8e116-2777-4094-984e-b5686fd3a0e7",
      "name": "Webhook",
      "webhookId": "d50e2efd-550a-4107-82f0-c4f8d06397e8"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.ticker }}"
            },
            {
              "name": "interval",
              "value": "1min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "409a184ab0a447a4ab1046c2090a0758"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        -304
      ],
      "id": "59a96f5c-7bfd-4de0-8bed-6ef22c81ec9a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.ticker }}"
            },
            {
              "name": "interval",
              "value": "15min"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "409a184ab0a447a4ab1046c2090a0758"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        -112
      ],
      "id": "17d7e637-a3ee-4438-858b-25d6377c813f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.ticker }}"
            },
            {
              "name": "interval",
              "value": "1h"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "409a184ab0a447a4ab1046c2090a0758"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        80
      ],
      "id": "e57ae597-b3a6-4bab-8d83-02bb6bb000eb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "https://api.twelvedata.com/time_series",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ $json.body.ticker }}"
            },
            {
              "name": "interval",
              "value": "1day"
            },
            {
              "name": "outputsize",
              "value": "100"
            },
            {
              "name": "apikey",
              "value": "409a184ab0a447a4ab1046c2090a0758"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        272
      ],
      "id": "c7a923d3-ed51-4115-b97e-3b2c5ebf2e0e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        -48
      ],
      "id": "09e5f4c9-31f4-4476-9aaf-ea316d018777",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -144,
        -16
      ],
      "id": "1a74cb8e-e498-4e90-b809-9707b3436eed",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.body.ticker }}"
            },
            {
              "name": "from",
              "value": "={{ new Date(Date.now() - 3 * 24 * 60 * 60 * 1000) .toISOString() }}"
            },
            {
              "name": "sortBy",
              "value": "popularity"
            },
            {
              "name": "apiKey",
              "value": "d9cbd1c1f1514e158fef9bfa8ecf3bf7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -592,
        464
      ],
      "id": "10f512cf-7c8e-4bf4-9640-8096ce2b71e1",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -368,
        464
      ],
      "id": "62bda758-190d-46f0-aef7-7ef797daa98e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a highly intelligent and accurate sentiment analyzer specializing in stock markets. Analyze the sentiment of the provided text using a two-part approach:\n\nShort-Term Sentiment:\n\nEvaluate the immediate market reaction, recent news impact, \nand technical volatility.\n\nDetermine a sentiment category: \"Positive\", \"Neutral\", or \"Negative\".\n\nCalculate a numerical score between -1 (extremely negative) and 1 (extremely positive).\n\nProvide a concise rationale explaining the short-term sentiment (give a detailed response with appropriate headlines for major events, and stocks).\n\n\nLong-Term Sentiment:\n\nEvaluate the overall market outlook, fundamentals, and regulatory or macroeconomic factors.\n\nDetermine a sentiment category: \"Positive\", \"Neutral\", or \"Negative\".\n\nCalculate a numerical score between -1 (extremely negative) and 1 (extremely positive).\n\nProvide a detailed rationale explaining the long-term sentiment (give a detailed response with appropriate headlines for major events, and stocks).\n\nYour output must be exactly a JSON object with exactly two keys: shortTermSentiment and longTermSentiment.\nThe value of each key must be an object with three keys: category, score, and rationale.\n\nOutput only one analysis — one short-term and one long-term.\nDo one round for all of these articles and add only one thing.\nHere are the articles: {{ JSON.stringify($json['data 2 ']) }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        80,
        464
      ],
      "id": "7fff0c0c-06c2-4124-b59a-43ac6bc9f228",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data 2 ",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -144,
        464
      ],
      "id": "e9d7855e-92db-4fac-8ae7-c457cd6a5d18",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        96,
        688
      ],
      "id": "cdd3dec0-6f4d-4c56-8e84-fb8ba26d925d",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "SSQgNsxz5ZKloPyF",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        176
      ],
      "id": "25c9957b-cd87-4487-a75a-3c9190f0f604",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "data all",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        176
      ],
      "id": "4581f077-c281-403f-9775-6eeda915cf25",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"shortTermSentiment\": {\n    \"category\": \"Positive\",\n    \"score\": 0.6,\n    \"rationale\": \"Recent headlines highlight strong quarterly earnings and increased trading volume. Immediate market reaction shows investor confidence, with the stock price rising sharply in response to positive news.\"\n  },\n  \"longTermSentiment\": {\n    \"category\": \"Neutral\",\n    \"score\": 0.1,\n    \"rationale\": \"While fundamentals remain solid, macroeconomic uncertainty and potential regulatory changes temper optimism. Analysts expect steady growth, but risks from global market volatility balance the outlook.\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        224,
        688
      ],
      "id": "156f0554-ca9e-40cd-a08a-5558ffb2064f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This for:{{ $('Webhook').item.json.body.ticker }}\nThis is the analysis I got from scraping articles: {{ JSON.stringify($json['data all'][0].data[1]) }}\nHere is all the technical data: \n{{ JSON.stringify($json['data all'][0].data[0]) }}\nThis is a JSON array where each element is a candlestick data object for a stock (equity). Each object has the following structure:\ntimeframe: either \"1m\", \"15m\", \"1h\",\ncandles: an array of values in the following order: [openTime, open, high, low, close, volume, closeTime, quoteVolume, trades, takerBuyBaseVolume, takerBuyQuoteVolume, ignore]\nSentiment Data: At the end of the JSON array there is also a long-term and short-term sentiment analysis based on stock market news headlines for the past 3 days.\nPlease perform the following steps:\nGroup the Data: Group the candlestick objects by timeframe into four groups:\nShort-term data: \"1m\" candles\nMedium-term data: \"15m\" candles\nMedium-term data: \"1h\" candles\nLong Term data: \"1 day\" candles\nAnalyze the Data in Detail:\nShort-term Analysis: Use the 15m candles (with supportive insights from the 1m candles) to evaluate volatility and determine near-term support and resistance levels. In your analysis, combine traditional lagging indicators (such as MACD, RSI, and OBV) as confirmation tools with direct price action elements—like key support/resistance zones, trendlines, and divergence patterns. Focus on these price-based signals to capture immediate market sentiment and structural levels.\nLong-term Analysis: Use the 1d candles (and relevant insights from the 1h candles) to assess the overall market direction and major support/resistance zones. Here, integrate long-term trendlines and divergence signals along with lagging indicators to understand the broader market context and potential structural shifts.\nActionable Recommendation (Spot / Unleveraged only):\nProvide an extremely detailed analysis with the following structure for both short-term and long-term:\nAction: (buy, sell, or hold) Entry Price: specific price level Stop Loss: specific price level Take Profit: specific price level Rationale: Detailed explanation of the recommendation Primary Signals: Key price action insights (support/resistance zones, trendline breakouts or bounces, divergence patterns) Lagging Indicators: How indicators (MACD, RSI, OBV, etc.) confirm or supplement these signals Sentiment Analysis: Volume trends, market sentiment, and macro factors\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        880,
        176
      ],
      "id": "53117148-135e-45fd-a817-56982036a79e",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        896,
        400
      ],
      "id": "21c86e4c-1462-4495-ae9e-90586475d981",
      "name": "Cohere Chat Model2",
      "credentials": {
        "cohereApi": {
          "id": "SSQgNsxz5ZKloPyF",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"shortTerm\": {\n    \"Action\": \"buy\",\n    \"EntryPrice\": \"145.20\",\n    \"StopLoss\": \"140.00\",\n    \"TakeProfit\": \"155.00\",\n    \"Rationale\": \"Strong bullish momentum observed in the 15m candles, supported by 1m volatility spikes. Price action shows breakout above resistance with high volume confirmation.\",\n    \"PrimarySignals\": \"Breakout above key resistance at 144.50, trendline support holding, bullish divergence on RSI.\",\n    \"LaggingIndicators\": \"MACD crossover to bullish, RSI above 60 confirming momentum, OBV rising steadily.\",\n    \"SentimentAnalysis\": \"Positive short-term sentiment driven by earnings headlines and increased trading activity.\"\n  },\n  \"longTerm\": {\n    \"Action\": \"hold\",\n    \"EntryPrice\": \"145.20\",\n    \"StopLoss\": \"135.00\",\n    \"TakeProfit\": \"170.00\",\n    \"Rationale\": \"Broader market outlook remains cautiously optimistic. 1d candles show consolidation with higher lows, supported by 1h trendline strength. Fundamentals remain stable but macroeconomic risks persist.\",\n    \"PrimarySignals\": \"Long-term support at 140.00 holding, trendline pointing upward, no bearish divergence detected.\",\n    \"LaggingIndicators\": \"MACD trending positive on daily chart, RSI stable around 55, OBV consistent with accumulation.\",\n    \"SentimentAnalysis\": \"Neutral to slightly positive long-term sentiment due to macroeconomic uncertainty balanced by strong fundamentals.\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        400
      ],
      "id": "cef78cff-1fe4-4412-a13f-bf6bcacde3ff",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1232,
        176
      ],
      "id": "18eb9aee-90f7-4204-a736-22351e649e90",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6c5d4ab-0661-457c-bf78-4bba0abecfd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c6925a8d181d3b47ef655966fbae0f62dd9c6055e4509fce6f30f09061a5264"
  },
  "id": "3k2fPuCR0ITMzcpg",
  "tags": []
}